{% extends 'base.html' %}

{% block content %}

<h2>Articles:</h2>
    <hr>
        {% for a in articles %}
        <h3>
            <a href="{% url 'article' a.id %}">
            {{ a.title }}</a>
        </h3>
        <div>{{ a.text}}</div>
        <div>
            <a href="{% url 'authors' %}">
            {{ a.author }}</a>
        </div>

        <br>
        <b>Read count: {{ a.readers.count }}</b>
        <br>
        <b>Like: {{ a.likes }}</b>
         </hr>
        {% endfor %}

{% endblock %}
