{%block content%}

    <h2>Articles:</h2>
    <hr>
        {% for a in articles %}
        <h3>{{ a.title}}</h3></i></h3>
        <div>{{ a.text}}</div>
        <i>{{ a.author }}</i>
        <br>
        <b>Read count: {{ a.readers.count }}</b>
        <br>
        {% endfor %}
    </hr>

    <h3> Author articles {{ wind }}</h3>
    <ol>
    {% for article in wind.articles.all %}
        <li>{{ article.title }}</li>
    {% endfor %}  
    </ol>
    <hr>
    <h3> Read by {{ wind }}</h3> 
    <ol>
    {% for article in wind.articles.all %}
        <li>{{ article.title }}</li> 
    {% endfor %}  
    </ol>   
       
{% endblock %}
